.Welcome-msg{
  font-weight: bolder;
  font-size: 50px;
  color: cyan;
  display: block;
  margin-left: 250px;
  margin-bottom: 0;
}
.Rock_button{
  border: black;
  border-width: 8px;
  border-radius: 300px;
  border-style: solid;
  object-fit: cover;
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 30px;
  width: 300px;
}
.Paper_button{
  border: black;
  border-width: 8px;
  border-radius: 300px;
  border-style: solid;
  object-fit: cover;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 50px;
  width: 300px;
}
.Scissors_button{
  border: black;
  border-width: 8px;
  border-radius: 300px;
  border-style: solid;
  object-fit: cover;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 40px;
  width: 300px;
}
.rps-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding-top: 50px;
}
.rock-img,.paper-img,.scissors-img{
  height: 200px;
}
.Rock-div,.Paper-div,.Scissors-div{
  display: inline-block;
}